# import libraries

In [1]:
! pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/lib/python3.6/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from beautifulsoup4) (1.8)

In [2]:
! pip install lxml
! pip install requests

Requirement already satisfied: lxml in /home/jupyterlab/conda/lib/python3.6/site-packages (4.3.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/lib/python3.6/site-packages (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/lib/python3.6/site-packages (from requests) (2.8)

In [3]:
!pip install html5lib
import html.parser

Requirement already satisfied: html5lib in /home/jupyterlab/conda/lib/python3.6/site-packages (0.9999999)

In [4]:
from bs4 import BeautifulSoup
import requests

In [5]:
! pip install urllib3
import urllib3.request

Requirement already satisfied: urllib3 in /home/jupyterlab/conda/lib/python3.6/site-packages (1.24.1)

In [6]:
import pandas as pd
import numpy as np

# scrape table from wikipedia

In [7]:
url1 = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup1 = BeautifulSoup(response, 'lxml')
table1 = soup1.find('div', id = 'mw-content-text')
rows = table1.find_all('tr')
columns = [v.text.replace('\n','') for v in rows[0].find_all('th')]

In [8]:
df = pd.DataFrame(columns=columns)
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    if len(tds) == 3:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n','')]
    else:
        pass
    df = df.append(pd.Series(values, index = columns), ignore_index=True)
    df.to_csv('kanchan2.csv')

In [9]:
df = pd.read_csv('kanchan.csv')
df.shape

(288, 3)

In [10]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

# drop rows from the "Borough" which has values "not assigned"

In [11]:
#drop the row if borrow == "not assigned"
df['Borough'].replace('Not assigned',np.nan,inplace = True)
df.dropna(subset=['Borough'], axis = 0, inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

# group the duplicate rows

In [12]:
#group neighbourhoods in the same postcode
df_grouped = df.groupby(["Postcode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df_grouped.tail(20)

    Postcode       Borough                                      Neighbourhood
83       M6R  West Toronto                             Parkdale, Roncesvalles
84       M6S  West Toronto                                 Runnymede, Swansea
85       M7A  Queen's Park                                       Not assigned
86       M7R   Mississauga              Canada Post Gateway Processing Centre
87       M7Y  East Toronto  Business Reply Mail Processing Centre 969 Eastern
88       M8V     Etobicoke       Humber Bay Shores, Mimico South, New Toronto
89       M8W     Etobicoke                             Alderwood, Long Branch
90       M8X     Etobicoke      The Kingsway, Montgomery Road, Old Mill North
91       M8Y     Etobicoke  Humber Bay, King's Mill Park, Kingsway Park So...
92       M8Z     Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
93       M9A     Etobicoke                                   Islington Avenue
94       M9B     Etobicoke  Cloverdale, Islington, Martin Grove, Princess ...
95       M9C     Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
96       M9L    North York                                      Humber Summit
97       M9M    North York                                   Emery, Humberlea
98       M9N          York                                             Weston
99       M9P     Etobicoke                                          Westmount
100      M9R     Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V     Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W     Etobicoke                                          Northwest

# replace neighbourhood "Not assigned" by the values from the borough

In [13]:
# if Neighbourhood="Not assigned", the value is same as Borough
for index, row in df_grouped.iterrows():
    if row["Neighbourhood"] == "Not assigned":
        row["Neighbourhood"] = row["Borough"]
        
df_grouped.tail(20)

    Postcode       Borough                                      Neighbourhood
83       M6R  West Toronto                             Parkdale, Roncesvalles
84       M6S  West Toronto                                 Runnymede, Swansea
85       M7A  Queen's Park                                       Queen's Park
86       M7R   Mississauga              Canada Post Gateway Processing Centre
87       M7Y  East Toronto  Business Reply Mail Processing Centre 969 Eastern
88       M8V     Etobicoke       Humber Bay Shores, Mimico South, New Toronto
89       M8W     Etobicoke                             Alderwood, Long Branch
90       M8X     Etobicoke      The Kingsway, Montgomery Road, Old Mill North
91       M8Y     Etobicoke  Humber Bay, King's Mill Park, Kingsway Park So...
92       M8Z     Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
93       M9A     Etobicoke                                   Islington Avenue
94       M9B     Etobicoke  Cloverdale, Islington, Martin Grove, Princess ...
95       M9C     Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
96       M9L    North York                                      Humber Summit
97       M9M    North York                                   Emery, Humberlea
98       M9N          York                                             Weston
99       M9P     Etobicoke                                          Westmount
100      M9R     Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V     Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W     Etobicoke                                          Northwest

# print the shape of the cleaned data

In [14]:
df_grouped.shape

(103, 3)

Data downloaded!

In [16]:
# data downloading
!wget -q -O 'toranto_coord.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

# crating pd dataframe from csv file

In [17]:
toranto_coord = pd.read_csv("toranto_coord.csv")
toranto_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# renaming the column before merging the two dataframe

In [19]:
toranto_coord.rename(columns={"Postal Code": "Postcode"}, inplace=True)
toranto_coord.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

# merge two tables

In [20]:
toranto_tab = df_grouped.merge(toranto_coord, on="Postcode", how="left")
toranto_tab.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [21]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(toranto_tab['Borough'].unique()),
        toranto_tab.shape[0]))

The dataframe has 11 boroughs and 103 neighborhoods.